* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

body { 
  background-color: #F5F5F5;
  max-width: 1440px;
}

/* ---Nav section--- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#FF9500;
  padding: 20px 60px; 
  border-radius: 12px;
  margin: 20px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 48px;
  height: 48px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;                       
  padding: 10px 16px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: white;
  color: #FF9500;
}

.nav-link.active {
  background-color: white;
  color: #FF9500;
  border: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-text {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.nav-text:hover {
  background-color: white;
  color: #FF9500;
}

.nav-button {
  background-color: white;
  color: #FF9500;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: white;
  color: #FF9500;
}

header{
  width: 100%;
  height: auto;
}

/* ---Hero section--- */

.highlight i{
  background-color: #FFD599;
  padding: 10px;
  height: 64px;
  width: 64px;
  border-radius: 8px;
}

.hero {
  text-align: center;
  margin: 110px auto;
}

h1{
  font-size: 48px;
  font-weight: 700;
  color: #262626;
  background-color: white;
  padding: 16px 20px;
  display: inline-block;
  border-radius: 12px;
}

.highlight {
  font-size: 48px;
  font-weight: 700;
  color: #FF9500;
}

.highlight i{
  font-weight: 500;
  color:#262626;
}

.subheading {
  font-size: 36px;
  font-weight:500;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #262626;
}

.description {
  font-size: 24px;
  font-weight: 300;
  margin-top: 20px;
  color: #262626;
}

.hero-buttons {
  margin-top: 50px;
}

.explore {
  font-size: 18px;
  background: #FF9500;
  color: white;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.pricing {
  font-size: 18px;
  background: white;
  color: #262626;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pricing:hover{
  background: #FF9500;
  color: white;
}


/* ---Logos section--- */

.logos {
  width: auto;
  background: white;
  padding: 24px;
  display: flex;
  justify-content: center;
  margin: 100px 80px;
  border-radius: 8px;
}

.logo-bar {
  display: flex;
  gap: 4px;
  flex-wrap: nowrap;
  font-weight: bold;
  justify-content: center;
}

.logo-card{
  width: 170px;
  height: 70px;
} 

.hero-image{
  width: 1160px;
  height: 620px;
  border-radius: 12px;
  margin: 0px 80px;
  align-self: center;
}

/* ---Benefits section--- */

.benefits {
  max-width: 1280px;
  margin: 100px 80px;
}

.benefits-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.benefits-header h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #262626;
}

.benefits-header p{
  font-size: 18px;
  font-weight: 300;
  color: #656567;
}

.view-all {
  background-color: white;
  color:#262626;
  border: none;
  padding: 18px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.view-all:hover {
  background-color: #FF9500;
  color: white;
}

.benefit-row1{
  display: flex;
  width: 100%;
  height: 380px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.benefit-row2{
  display: flex;
  width: 100%;
  height: 380px;
  justify-content: space-between;
}

.benefit-card {
  background: white;
  width: 414px;
  padding: 50px;
  border-radius: 12px;
  position: relative;
  transition: transform 0.2s;
  margin-right: 20px;
}

.benefit-card:hover {
  transform: translateY(-5px);
}

.benefit-number {
  font-weight: bold;
  font-size: 48px;
  line-height: 24px;
  color: #262626;
  margin-bottom: 40px;
  text-align: right;
}

.benefit-card h3 {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
}

.benefit-card p {
  font-size: 18px;
  line-height: 150%;
  max-width: 600px;
  color: #656567;
}

.benefit-card i{
  background-color: #F5F5F5;
  color: #FF9500;
  position: absolute;
  bottom: 40px;
  right: 40px;
  border-radius: 8px;
  padding: 12px;
  margin-top: 40px;
  cursor: pointer;
}

.benefit-card i:hover{
  background-color: #FF9500;
  color: #F5F5F5;
}

/* ---Courses section--- */

.courses {
  max-width: 1280px;
  margin:0px 80px;
  gap: 60px;
}

.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.courses-header h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #262626;
}

.courses-header p{
  font-size: 18px;
  line-height: 150%;
  max-width: 600px;
  color: #656567;
}

.view-all {
  background-color: white;
  color:#262626;
  border: none;
  padding: 18px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.view-all:hover {
  background-color: #FF9500;
  color: white;
}

.course-row{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  width: 630px;
  padding: 40px;
  border-radius: 12px;
}

.course-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 24px;
}

.course-meta {
  display: flex;
  gap: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  color: #262626;
}

.course-meta .instructor {
  margin-left: auto;
  font-weight: bold;
  color: #262626;
}

.course-card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  color: #262626;
  margin-bottom: 14px;
}

.course-card p {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #656567;
  margin-bottom: 30px;
}

.cta {
  width: 100%;
  color: #262626;
  background-color: #F7F7F8;
  border: 1px solid #F1F1F3;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  padding: 24px 14px;
  margin-top: 10px;
  align-self: center;
}

.cta:hover{
  background-color: #FF9500;
  color: white;
  border: none;
}

/* ---Testimonials section--- */

.testimonial {
  max-width: 1280px;
  margin: 100px 80px;
  gap: 60px;
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.testimonial-header h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #262626;
}

.testimonial-header p{
  font-size: 18px;
  line-height: 150%;
  max-width: 600px;
  color: #656567;
}

.view-all {
  background-color: white;
  color:#262626;
  border: none;
  padding: 18px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.view-all:hover {
  background-color: #FF9500;
  color: white;
}

.testimonial-row{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.testimonial-card{
  background-color: white;
  border: 2px solid #E4E4E7;
  border-radius: 12px;
}
.testimonial-card.expanded {
    height: auto;
}

.testimonial-card p{
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 40px;
  color: #656567;
}

.testimonial-user{
  display: flex;
  padding: 24px 40px;
  background-color: #FCFCFD;
  border-top: 2px solid #E4E4E7;
  width: 100%;
  justify-content: space-between;
}

.testimonial-user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 8px;
}

.testimonial-user h3{
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  align-self: center;
  margin-right: 150px;
}

.read-story {
  background-color: #F5F5F5;
  border: none;
  padding: 14px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  align-content: end;
}

.read-story:hover{
  background-color: #FF9500;
  color: white;
}

/* <!--Pricing plan section-->  */

.pricing-plan {
  max-width: 1280px;
  margin: 0px 80px;
}

.pricing-plan-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.pricing-plan-text h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #262626;
}

.pricing-plan-text p{
  font-size: 18px;
  line-height: 150%;
  max-width: 600px;
  color: #656567;
}

.toggle-button{
  padding: 12px;
  background-color: white;
  border-radius: 8px;
}

.monthly-active {
  background-color: #FF9500;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.yearly{
  background-color: white;
  color: #262626;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.yearly:hover{
  background-color: #FF9500;
  color: white;
}

.pricing-container{
  width: auto;
  padding: 50px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  gap: 30px;
}
.pricing-card{
  width: auto;
  background-color:#e5e5e7;
  padding: 24px;
  border-radius: 12px;
}

.plan-title{
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  width: auto;
  background-color:#f9c070;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
}

.plan-price{
  display: flex;
  text-align: center;
  justify-self: center;
}

.price{
  font-size: 40px;
  font-weight: 700;
  padding-right: 16px;
  align-self: center;
}

.time{
  font-size: 24px;
  font-weight: 600;
  align-self: center;
}

.feature-container{
  padding-top: 40px;
  margin: 40px 24px 24px 24px;
  border-radius: 8px;
  background-color: white;
}

.feature-title{
  font-size: 20px;
  font-weight: 700;
  padding: 20px auto;
  width: auto;
  text-align: center;
}

.features li{
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding: 12px 12px;
  border: 1px solid #E4E4E7;
  border-radius: 8px;
  margin: 20px 30px;
  width: auto;
}

.features i{
  background-color: #F5F5F5;
  color: green;
  border-radius: 4px;
  padding: 4px;
  margin-right: 10px;
}

#close{
  background-color: #F5F5F5;
  color: red;
  border-radius: 4px;
  padding: 4px;
  margin-right: 10px;
}

.buy-btn{
  width: auto;
  font-size: 22px;
  font-weight: 600;
  padding: 18px 24px;
  text-align: center;
  justify-content: center;
  background-color: #FF9500;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 30px;
}

/* <!--FAQ section-->  */

.FAQ{
  max-width: 1280px;
  background: white;
  padding: 80px;
  margin: 100px 80px;
  border-radius: 12px;
}

.faq-container {
  display: flex;
  gap: 80px;
}

.faq-left {
  flex: 1;
}

.faq-left h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;
}

.faq-left p {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #656567;
  margin-bottom: 50px;
}

.See-all{
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding: 14px 20px;
  background-color: white;
  border: 2px solid #F1F1F3;
  color: #262626;
  border-radius: 6px;
}

.See-all:hover{
  background-color: #FF9500;
  color: white;
}

.faq-right {
  flex: 2;
}

.faq-item {
  border: 1px solid #E4E4E7;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.faq-question {
  background-color: #fff;
  cursor: pointer;
  padding: 20px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question p{
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #262626;
}

.faq-answer {
  background-color: #f2f2f2;
  padding: 20px 28px;
  display: none;
}

.faq-answer p{
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #656567;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-question i{
  line-height: 150%;
  color: #262626;
}

.faq-item.active .faq-question i {
  transform: rotate(45deg);
}

.faq-item .faq-answer {
    display: none;
}

.faq-item.active .faq-answer {
    display: block;
}

/* Footer section */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 60px 80px 20px 80px;
  color: #262626;
}

.footer-top{
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 100%;
}

.footer-column-left{
  text-decoration: none;
  width: 250px;
  margin-right: 50px;
}

.footer-column-left img{
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
}

.address p{
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 10px;
}

.address i{
  margin-right: 10px;
}

.footer-column-right{
  display: flex;
  justify-content: space-between;
}

.footer-column{
  flex: 1;
  flex-direction: column;
  min-width: 200px;
  margin-bottom: 20px;
  margin-right: 80px;
}

.footer-column h4{
  font-size: 20px;
  font-weight: 700;
  line-height: 120%; 
  margin-bottom: 16px;
}

ul{
  list-style: none;
}

.footer-column .link{
  font-size: 16px;
  color: #656567;
  text-decoration: none;
}

.footer-column .link:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social-icons i{
  padding: 10px;
  background-color: #F5F5F5;
  color: #262626;
  border-radius: 8px;
}

.social-icons i:hover{
  background-color:#FF9500;
  color: white;
}

.footer-bottom {
  text-align: center;
  width: auto;
  font-size: 18px;
  color: #656567;
  border-top: 1px solid #EEEEEE;
  padding-top: 20px;
}

/* Error Modal Styles */
.error-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.error-modal.active {
    display: flex;
}

.error-modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-modal-message {
    margin: 1rem 0;
    color: #333;
}

.error-modal-close {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}
